[user]
	name = Manuel Castillo-Lopez
	email = manucalop@gmail.com

[http]
  sslVerify = false

[pull]
  rebase = true

[push]
  default = current

[init]
	defaultBranch = main

[log]
   abbrevCommit = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
  editor = nvim
  pager = less

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[merge]
  tool = kdiff
  conflictStyle = diff3

[diff]
  colorMoved = default

[gitreview]
  remote = origin

[fetch]
  prune = true
