[submodule ".tools/lib/ubuntu-tiling"]
	path = .tools/lib/ubuntu-tiling
	url = git@github.com:manucalop/ubuntu-tiling.git
[submodule ".local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = .local/share/nvim/site/pack/packer/start/packer.nvim
	url = git@github.com:wbthomason/packer.nvim.git
