.cache/*
.bash_history
.bash_logout
.config/nvim/tags/*
.config/autostart/*
.config/dconf/*
.config/enchant/*
.config/evolution/*
.config/fontconfig/*
.config/gedit/*
.config/gnome-initial-setup-done
.config/google-chrome/*
.config/gtk-3.0/*
.config/ibus/*
.config/pulse/*
.config/update-notifier/*
.config/user-dirs.dirs
.config/user-dirs.locale
.config/kactivitymanagerdrc
.config/kglobalshortcutsrc
.config/okularrc
.config/session/
.dbus/*
.dropbox-dist/*
.dropbox/
.fonts/.uuid
.gnupg/*
.lesshst
.local/lib/python3.8/site-packages/
.local/share/Trash/
.local/share/applications/
.local/share/evolution/
.local/share/gnome-settings-daemon/
.local/share/gnome-shell/
.local/share/gvfs-metadata/
.local/share/icc/
.local/share/icons-in-terminal/
.local/share/keyrings/
.local/share/nvim/plugged/
.local/share/nvim/shada/
.local/share/nvim/site/autoload/plug.vim.old
.local/share/nvim/swap/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/session_migration-ubuntu
.local/share/tracker/
.local/share/kactivitymanagerd/
.local/share/okular/
.mozilla/
.pki/
.selected_editor
.ssh/
.sudo_as_admin_successful
Downloads/
Dropbox/
main_ws/
snap/
