[submodule ".Xresources.d/urxvt-perls"]
	path = .Xresources.d/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule ".scripts/i3bar/i3blocks-contrib"]
	path = .scripts/i3bar/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
