[user]
	name = Manuel Castillo-Lopez
	email = manucalop@gmail.com

[core]
  editor = nvim
  pager = delta

[pull]
  rebase = true

[push]
  default = current

[branch]
  autoSetupMerge = always

[init]
	defaultBranch = main

[log]
   abbrevCommit = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    # line-numbers = true
    # side-by-side = true

[merge]
    conflictStyle = zdiff3
